/*General*/
body{font-family: 'Raleway', sans-serif; 
  margin: 0;
  background-color: white;
  
}

.page{margin: 0 40px 0 40px;
}

.filtreTexteIcons {
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
}

.flexCentre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flexColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;} 

.flexrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;

}


.flexColumnAround {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.flexColumnBetween {
  display: flex;
  justify-content: space-between;
}

.texteGras {
  font-weight: bold;
}

.decorationNone {
  text-decoration: none;
}
.borderNone {
  border: none;
}

.texteGras {
  font-weight: bold;
}
.clrBleu {
  color: #0065fc;
}
.clrBleuCl {
  color: #deebff;
}
.clrGris {
  color: #f2f2f2;
}


/* NAV */
nav{
  margin-top: 20px;
  
}
.flexColumnBetween li,a{
  text-decoration: none;
  list-style-type: none
}

.flexColumnBetween a{
  margin: 0px 20px 0 30px;
  color:#0065fc
}

.flexColumnBetween a:hover{
  padding-top: 20px;
  border-top: 2px solid #0065fc; 
}

#activity{
  color: rgb(34, 34, 34);
}
 /*fin de Nav*/
 

 /*Header*/
 .iconSize {
  height: 50px;
  width: 50px;
  border-radius: 10px 0 0 10px;
  background:#f2f2f2
}


#search{
  height:50px;
  border:2px solid #f2f2f2;
}

.researche{
  height: 50px;
  width: 100px;
  background: #0065fc;
  color: white;
  border-radius: 0 10px 10px 0;

}

.filtre{
  height: 50px;
  width:850px;
  margin-top: 20px;
}
 
.filtre div{
  margin: 0 10px 0 10px;  
}


.filtreIcons {
  margin-right: -30px;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  color: #0065fc;
  background-color: #deebff;
}

.icons-text {
  height: 45px;
  padding-right: 10px;
  padding-left: 30px;
  border:3px solid #f2f2f2;
  border-radius: 0 25px 25px 0;
  border-left: transparent;

}

.info {
  display: flex;
  align-items: center;
}

.infoicon{
  
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
  
}

/**/